$onSurface: #2D2F31;
$surfaceHover: rgba(45, 47, 49, 0.15);
$surfaceDisabled: rgba(45, 47, 49, 0.3);
$black: #121519;
$brandBright: #D9E4F4;
$brandBrightHover: #CEDCF0;
$brand: #1C79F2;
$grayBackground: rgba(45, 47, 49, 0.1);
$shadowBackground: rgba(45, 47, 49, .4);